/******************************************************************************
 *                                V I M I U M                                 *
 *****************************************************************************/
div.vimiumColumn td  {
  font-size: 16px;
}
div#vimiumHelpDialog {
  width: 90%;
  left: auto;
  margin: 5%;
  height: 80%;
  top: 0;
  max-height: 890px;
}
/******************************************************************************
 *                                 S I G H T                                  *
 *****************************************************************************/
body > pre {
  font-size: 1.2em;
}

