#mw-page-base,
#mw-head-base,
#mw-head,
#mw-panel,
#siteNotice,
#footer,
#siteSub {
  display: none;
}
div#content {
  margin-left: 0;
}
body {
  font-size: 1.4em;
}
#catlinks {
  font-size: .9em;
}
#articleFeedbackv5-panel {
  width: 100% !important;
  font-size: .8em;
}
#toc {
  margin: 1.5em 0;
}
.mw-geshi *,
pre {
  margin: 1em 0;
  font-family: Inconsolata !important;
}

